div.fragment {
	padding: 10px;
}

div.contents {
	margin-bottom: 30px;
}

dl.note, dl.warning {
	margin-left: 30px;
}

dt {
	margin-left: 10px;
}


#main-nav ul, #nav-path ul, .headertitle, .textblock > *,
	address.footer, #titlearea table, .memberdecls, .groupheader,
	.memtitle, .memitem, div.contents > ul, div.contents, div.header,
	#navrow1 > ul
	{
	max-width: 800px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

/*
.memtitle {
	float: none;
	background: none;
	border: none;
}
*/

#main-nav, #nav-path {
	background-image: url("tab_b.png");
}

p {
	text-align: justify;
}